<!--<h1 class="center">Liste de POKEMONS</h1>-->
<!--<input-->
<!--        #input-->
<!--        (keyup.enter)="selectPokemon(input.value)"-->
<!--        type="number"-->
<!--/>-->
<!--<p *ngIf="pokemonSelected">-->
<!--    Vous avez selectionné le pokemon : {{ pokemonSelected?.name }}-->
<!--</p>-->
<!--<p *ngIf="!pokemonSelected">-->
<!--    Aucun pokemon n'a été trouvé.-->
<!--</p>-->
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">
            pokédex
        </a>
    </div>
</nav>
<router-outlet></router-outlet>

